{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "info": {
      "fieldName": "$ctx.info.fieldName",
      "parentTypeName": "$ctx.info.parentTypeName"
    },
    "arguments": $util.toJson($ctx.args),
    "identity": $util.toJson($ctx.identity),
    "request": {
      "headers": $util.toJson($ctx.request.headers)
    }
  }
}